<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新增定时任务</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script src="../../static/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="../common/common.js"></script>
    <script src="../../static/js/task/taskList.js" type="text/javascript"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title">
    <legend>定时任务</legend>
</fieldset>
<form class="layui-form" action="" style="margin-right: 15%;">
    <input type="hidden" name="jobId" id="jobId"/>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">类名</label>
            <div class="layui-input-inline">
                <input type="tel" name="beanName" lay-verify="required" placeholder="请输入bean名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">方法名</label>
            <div class="layui-input-inline">
                <input type="tel" name="methodName" lay-verify="required" placeholder="请输入执行方法的名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">参数</label>
            <div class="layui-input-inline">
                <input type="tel" name="params" lay-verify="" placeholder="请输入执行方法传递的参数" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">cron表达式</label>
            <div class="layui-input-inline">
                <input type="tel" name="cronExpression" lay-verify="required" placeholder="例：0/3* * * *？"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" lay-filter="status" value="1" title="启用" checked="">
                <input type="radio" name="status" lay-filter="status" value="0" title="关闭">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text" id="remarkDiv">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注信息" name="remark" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item" id="submitDiv">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1" id="btnSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" onclick="parent.layer.closeAll();">取消</button>
        </div>
    </div>
</form>

<script>
    var isCreate = true;
    //初始化方法
    $(document).ready(function () {
        //获取浏览器传递的jobId
        var jobId = Ws.util.getUrlParam("jobId");
        //判断为创建还是更新
        isCreate = jobId == "undefined" ? true : false;
        //填充隐藏域
        if (!isCreate) {
            $("#jobId").val(jobId);
        }
        //修改title
        $("fieldset legend").html(isCreate ? "创建定时任务" : "修改定时任务");
        //获得修改对象
        Ws.doGet("", "../../../sys/quartz/job/find?id=" + jobId, function (data) {
            //填充表单
            $("form").jsonData(data);
        });
    });
    layui.use(['form', 'layedit', 'laydate', 'upload'], function () {
        var form = layui.form
            , layer = layui.layer;

//监听提交
        form.on('submit(demo1)', function (data) {
            //禁用提交按钮
            $("#btnSubmit").attr("disabled", true);
            $("#btnSubmit").addClass("layui-radio-disbaled layui-disabled");
            //判断为新增还是更新
            var url = "./../../../sys/quartz/job/";
            url += isCreate ? "save" : "update";
            Ws.doPost("", data.field, url, function (data) {
                if (data.result_data.flag == "SUCCESS") {
                    layer.msg(data.result_data.msg, {icon: 6, shift: 5});
                    setTimeout(function () {
                        //刷新父页面
                        parent.taskList.init();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }, 1000);
                } else {
                    layer.msg(data.result_data.msg, {icon: 5, shift: 6});
                    //解除按钮禁用
                    $("#btnSubmit").attr("disabled", false);
                    $("#btnSubmit").removeClass("layui-radio-disbaled layui-disabled");
                }
            });
            return false;
        });

        form.on('radio(status)', function (data) {
            debugger;
            $("input[name='status'][value=" + data.value + "]").attr("checked");
            $("input[name='status']:not([value=" + data.value + "])").attr("checked");
            return false;
        });


    });
</script>
</body>
</html>